.home-container {
    display: grid;
    grid-template-columns: 300px auto;
    height: 100vh;
}

.tab-bar {
  display: flex;
  background-color: #202c33;
}

.tab-button {
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  flex: 1;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.tab-button.active {
  border-bottom: 3px solid #53bdeb;
}

.content {
  flex: 1;
  overflow: auto;
}

